---
import { Image } from "astro:assets";
import BoxIcon from "../assets/icons/BoxIcon.png";
import AtIcon from "../assets/icons/AtlIcon.png";
import WhatsappIcon from "../assets/icons/WhatsappIcon.png";
import DollarIcon from "../assets/icons/DollarIcon.png";
import DocumentIcon from "../assets/icons/DocumentIcon.png";
import PlusIcon from "../assets/icons/PlusIcon.png";
import StarIcon from "../assets/icons/StarIcon.svg";
import UnionIcon from "../assets/icons/UnionIcon.png";
import Whatsapp2Icon from "../assets/icons/Whatsapp2Icon.png";
import TelegramIcon from "../assets/icons/TelegramIcon.png";
import SlackIcon from "../assets/icons/SlackIcon.png";
import Chat1 from "../assets/icons/Chat1.png";
import Chat2 from "../assets/icons/Chat2.png";
---

<section class="w-full py-16 px-4 flex flex-col items-center">
  <h2
    class="eb-garamond text-[#1F7148] text-[40px] leading-[0.84] tracking-[-0.04em] font-semibold text-center mb-2"
  >
    Algunas caracter铆sticas
  </h2>
  <p class="font-sans font-normal text-[15px] leading-[1] tracking-normal text-center text-gray-700 max-w-2xl mb-8">
    Conoce c贸mo nuestro agente de IA puede ayudarte a automatizar tareas
    repetitivas, ahorrar tiempo y mejorar la eficiencia de tu negocio.
  </p>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 w-full max-w-7xl">
    <!-- Primer contenedor -->
    <div class="flex flex-col">
      <div
        class="w-full min-h-[450px] flex justify-center items-center bg-[#EDF8F6] rounded-lg border-[1px] border-[#1F714838] p-8"
      >
        <div class="grid grid-cols-3 gap-2">
          <!-- Icon 1: Box -->
          <div
            class="aspect-square bg-[#F5FAF9] rounded-lg border border-[#1F714838] flex items-center justify-center p-8"
          >
            <Image
              src={BoxIcon}
              alt="M贸dulo de Caja"
              class="w-7 h-7 object-contain"
            />
          </div>
          <!-- Icon 2: At -->
          <div
            class="aspect-square bg-[#F5FAF9] rounded-lg border border-[#1F714838] flex items-center justify-center p-8"
          >
            <Image
              src={AtIcon}
              alt="M贸dulo de Correo"
              class="w-7 h-7 object-contain"
            />
          </div>
          <!-- Icon 3: Whatsapp -->
          <div
            class="aspect-square bg-[#0C3D25] rounded-lg flex items-center justify-center p-8"
          >
            <Image
              src={WhatsappIcon}
              alt="M贸dulo de Whatsapp"
              class="w-7 h-7 object-contain"
            />
          </div>
          <!-- Icon 4: Dollar -->
          <div
            class="aspect-square bg-[#F5FAF9] rounded-lg border border-[#1F714838] flex items-center justify-center p-8"
          >
            <Image
              src={DollarIcon}
              alt="M贸dulo de Pagos"
              class="w-7 h-7 object-contain"
            />
          </div>
          <!-- Icon 5: Document -->
          <div
            class="aspect-square bg-[#F5FAF9] rounded-lg border border-[#1F714838] flex items-center justify-center p-8"
          >
            <Image
              src={DocumentIcon}
              alt="M贸dulo de Documentos"
              class="w-7 h-7 object-contain"
            />
          </div>
          <!-- Icon 6: Plus -->
          <div
            class="aspect-square rounded-lg border-2 border-dashed border-[#1F714838] flex items-center justify-center p-8"
          >
            <Image
              src={PlusIcon}
              alt="A帽adir M贸dulo"
              class="w-7 h-7 object-contain"
            />
          </div>
        </div>
      </div>
      <div
        class="bg-[#0C3D25] px-5 py-8 grid mt-[15px] w-full min-h-[121px] rounded-lg border-[1px] border-[#1F714838]"
      >
        <span class="eb-garamond font-semibold text-[28.5px] leading-[0.84] tracking-[-0.04em] text-[#DEFFC0]">A t煤 medida</span>
        <span class="font-sans font-medium text-[14.05px] leading-[1] tracking-normal text-[#D1E4DB]"
          >Elige los m贸dulos que m谩s se adapten a tu negocio y t煤s necesidades y
          ve armando tu sistema de IA.</span
        >
      </div>
    </div>

    <!-- Segundo contenedor -->
    <div class="flex flex-col">
      <div
        class="w-full min-h-[450px] bg-[#EDF8F6] rounded-lg border-[1px] border-[#1F714838]"
      >
        <div>
          <div class="flex justify-center mt-[-50px]">
            <Image src={StarIcon} alt="Whatsapp" class="" />
          </div>
          <div class="mb-12 px-12 mt-[-115px]">
            <Image src={UnionIcon} alt="Union" class="w-[70%] mx-auto" />
            <div class="grid grid-cols-3 gap-2">
              <div
                class="aspect-square bg-[#F5FAF9] rounded-lg border border-[#1F714838] flex items-center justify-center p-8"
              >
                <Image
                  src={Whatsapp2Icon}
                  alt="M贸dulo de Documentos"
                  class="w-7 h-7 object-contain"
                />
              </div>
              <div
                class="aspect-square bg-[#F5FAF9] rounded-lg border border-[#1F714838] flex items-center justify-center p-8"
              >
                <Image
                  src={TelegramIcon}
                  alt="M贸dulo de Documentos"
                  class="w-7 h-7 object-contain"
                />
              </div>
              <div
                class="aspect-square bg-[#F5FAF9] rounded-lg border border-[#1F714838] flex items-center justify-center p-8"
              >
                <Image
                  src={SlackIcon}
                  alt="M贸dulo de Documentos"
                  class="w-7 h-7 object-contain"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-[#0C3D25] px-5 py-8 grid mt-[15px] w-full min-h-[121px] rounded-lg border-[1px] border-[#1F714838]"
      >
        <span class="eb-garamond font-semibold text-[28.5px] leading-[0.84] tracking-[-0.04em] text-[#DEFFC0]">Multicanal</span>
        <span class="font-sans font-medium text-[14.05px] leading-[1] tracking-normal text-[#D1E4DB]"
          >Usa WhatsApp, Telegram o Discord para hablar con tu asistente. Elige
          el canal que m谩s usas.</span
        >
      </div>
    </div>

    <!-- Tercer contenedor -->
    <div class="flex flex-col">
      <div
        class="w-full min-h-[450px] bg-[#EDF8F6] rounded-lg border-[1px] border-[#1F714838] p-6"
      >
        <div class="space-y-4 h-full flex flex-col justify-center">
          <!-- Mensaje del usuario -->
          <div class="flex justify-start">
            <div class="relative max-w-[80%]">
              <Image
                src={Chat1}
                alt="Chat usuario"
                class="w-full object-contain"
              />
              <div class="absolute inset-0 flex items-center justify-center">
                <p class="eb-garamond font-medium text-sm leading-[84%] tracking-[-0.04em] text-[#0C3D25] select-none">驴Puedes hacer un contrato? porfa </p>
              </div>
            </div>
          </div>

          <!-- Mensaje de la IA -->
          <div class="flex justify-end">
            <div class="relative max-w-[80%]">
              <Image
                src={Chat2}
                alt="Chat IA"
                class="w-full object-contain"
              />
              <div class="absolute inset-0 flex items-center justify-center">
                <p class="eb-garamond font-medium text-sm leading-[84%] tracking-[-0.04em] text-[#DEFFC0] select-none">隆Claro que s铆! ahora lo hago...</p>
              </div>
            </div>
          </div>

          <!-- Mensaje del usuario -->
          <div class="flex justify-start">
            <div class="relative max-w-[80%]">
              <Image
                src={Chat1}
                alt="Chat usuario"
                class="w-full object-contain"
              />
              <div class="absolute inset-0 flex items-center justify-center">
                <p class="eb-garamond font-medium text-sm leading-[84%] tracking-[-0.04em] text-[#0C3D25] select-none">Enviaselo a Ivan, a su correo de empresa.</p>
              </div>
            </div>
          </div>

          <!-- Mensaje de la IA -->
          <div class="flex justify-end">
            <div class="relative max-w-[80%]">
              <Image
                src={Chat2}
                alt="Chat IA"
                class="w-full object-contain"
              />
              <div class="absolute inset-0 flex items-center justify-center">
                <p class="eb-garamond font-medium text-sm leading-[84%] tracking-[-0.04em] text-[#DEFFC0] select-none">隆Listo! En seguida lo hago.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-[#0C3D25] px-5 py-8 grid mt-[15px] w-full min-h-[121px] rounded-lg border-[1px] border-[#1F714838]"
      >
        <span class="eb-garamond font-semibold text-[28.5px] leading-[0.84] tracking-[-0.04em] text-[#DEFFC0]">IA entendible</span>
        <span class="font-sans font-medium text-[14.05px] leading-[1] tracking-normal text-[#D1E4DB]"
          >Interact煤a con la IA sin comandos raros ni tecnicismos. Habla como si
          chatearas.</span
        >
      </div>
    </div>
  </div>

  <div class="flex lg:flex-row gap-4 mt-12">
    <a
      href="#"
      class="px-5 py-2 rounded-[7.438px] border-[0.826px] border-[#9BFFB1] bg-gradient-to-b from-[#1F7148] to-[#0A3E24] shadow-[inset_0px_-5px_2.2px_0px_rgba(0,0,0,0.25)] text-white transition hover:brightness-110"
    >
      Quiero automatizar
    </a>
    <a
      href="#"
      class="border border-green-800 text-green-800 px-5 py-2 rounded hover:bg-green-100 transition-colors"
      >Ver m谩s servicios</a
    >
  </div>
</section>
